:root {
  --bg-main: hsl(230 100% 99%);
  --bg-discount: hsl(14 92% 95%);
  --bg-slider-empty: hsl(224 65% 95%);
  --bg-slider-full: hsl(174 77% 80%);
  --bg-toggle: hsl(223 50% 87%);
  --bg-toggle-hover: hsl(174 73% 70%);
  --primary-color: hsl(225 20% 40%);
  --secondary-color: hsl(227 35% 25%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(174 86% 45%);
  --text-button: hsl(226 100% 87%);
  --text-discount: hsl(15 100% 40%);
  --font-weight--bold: 800;
  --font-weight--regular: 600;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  font-family: "Manrope", sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.3;
  min-height: 100vh;
  position: relative;
}
body::before {
  background-image: url("images/bg-pattern.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  content: "";
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 33.75rem) {
  body::before {
    height: 28.125rem;
  }
}
@media (min-width: 33.75rem) {
  body {
    background-color: var(--bg-main);
  }
}

fieldset {
  border: none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cta__30-day-trial button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20.5px;
  color: var(--text-button);
  cursor: pointer;
  font-weight: var(--font-weight--bold);
  max-width: 10.625rem;
  padding: 1rem 0;
  width: 100%;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}
.cta__30-day-trial button:hover {
  color: var(--tertiary-color);
}

.cta__30-day-trial form {
  background-color: var(--tertiary-color);
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  margin: auto;
  max-width: 33.75rem;
  padding-bottom: 2rem;
  padding-top: 2.125rem;
}
.cta__30-day-trial form hr {
  border: 1px solid var(--bg-slider-empty);
  margin-bottom: 1.5rem;
}

.range-group {
  display: grid;
  grid-template-areas: "pageviews" "range" "price";
}
@media (min-width: 33.75rem) {
  .range-group {
    grid-template-areas: "pageviews price" "range range";
    align-items: center;
    justify-items: center;
  }
}

.cta__plan {
  grid-area: pageviews;
  color: var(--primary-color);
  font-size: 0.75rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: 1.7px;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
@media (min-width: 33.75rem) {
  .cta__plan {
    margin-bottom: 0;
  }
}

.cta__price {
  grid-area: price;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  margin-bottom: 2.125rem;
}
.cta__price span:first-child {
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: var(--font-weight--bold);
  letter-spacing: -0.8px;
  margin-right: 0.625rem;
}
.cta__price span:nth-child(2) {
  color: var(--primary-color);
  font-size: 0.875rem;
  font-weight: var(--font-weight--regular);
}
@media (min-width: 33.75rem) {
  .cta__price {
    margin-bottom: 0;
  }
}

.range-wrapper {
  grid-area: range;
  margin-bottom: 1.5rem;
}
@media (min-width: 33.75rem) {
  .range-wrapper {
    margin-bottom: 2.5rem;
    padding-top: 1.5rem;
  }
}

.cta__discount {
  background-color: var(--bg-discount);
  border-radius: 9.5px;
  color: var(--text-discount);
  font-weight: var(--font-weight--bold);
  font-size: 0.625rem;
  line-height: 1.4;
  padding: 2px 8px;
}
.cta__discount::before {
  content: "-";
}
@media (min-width: 33.75rem) {
  .cta__discount::before {
    content: "";
  }
  .cta__discount::after {
    content: " discount";
  }
}

.radio-switch {
  font-size: 0.75rem;
  font-weight: var(--font-weight--regular);
  margin-bottom: 2.375rem;
}
.radio-switch label {
  color: var(--primary-color);
  cursor: pointer;
}
.radio-switch input[type=radio] {
  cursor: pointer;
  display: inline-block;
  margin-right: -2px;
  height: 100%;
  opacity: 0;
  position: relative;
  width: 50%;
  z-index: 1;
}
.radio-switch input[type=radio]:focus ~ .radio-switch__background {
  outline: 2px auto Highlight;
  outline: 2px auto -webkit-focus-ring-color;
}
.radio-switch input[type=radio]:hover ~ .radio-switch__background {
  background-color: var(--bg-toggle-hover);
}

.radio-switch__wrapper {
  display: inline-block;
  height: 1.375rem;
  margin: 0 0.75rem;
  position: relative;
  vertical-align: middle;
  width: 2.6875rem;
}

.radio-switch__circle {
  background-color: var(--tertiary-color);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 0.875rem;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 100%;
  transition: all 0.1s ease-out;
  width: 0.875rem;
  z-index: 2;
}

.radio-switch__background {
  background-color: var(--bg-toggle);
  border-radius: 15px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#yearly:checked ~ .radio-switch__circle {
  right: 0;
  left: 25px;
}

#yearly:checked ~ .radio-switch__background {
  background-color: var(--accent-color);
}

.cta__benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 33.75rem) {
  .cta__benefits {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3rem;
  }
  .cta__benefits ul {
    text-align: left;
  }
}

.cta__features-list li {
  color: var(--primary-color);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}
.cta__features-list li:last-child {
  margin-bottom: 2rem;
}
.cta__features-list li::before {
  content: url("images/icon-check.svg");
  margin-right: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2rem;
}

.cta__30-day-trial {
  padding: 3.5625rem 1.5rem 0 1.5rem;
  text-align: center;
}

.cta__heading {
  background-image: url("images/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.cta__title {
  color: var(--secondary-color);
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 auto 0.5rem;
  max-width: 20rem;
}

.cta__subheading {
  color: var(--primary-color);
  font-size: 0.8125rem;
  line-height: 1.8;
  max-width: 11.25rem;
  margin: auto;
}

.attribution {
  color: var(--primary-color);
  font-size: 0.6875rem;
  padding-top: 0.5rem;
  text-align: center;
}
.attribution a:hover {
  text-decoration: underline;
}
