// ___________________________________________________________________
// Main Styles
// ___________________________________________________________________

.cta__30-day-trial {
  padding: 3.5625rem 1.5rem 0 1.5rem;
}

.cta__heading {
  background-image: url('images/pattern-circles.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  padding: 2rem 0;
  text-align: center;

  @media (min-width: 33.75rem) {
    margin-bottom: 3.375rem;
    padding: 2.3125rem 0;
  }
}

.cta__title {
  color: var(--secondary-color);
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 auto 0.5rem;

  @media (min-width: 33.75rem) {
    font-size: 1.75rem;
    margin: 0 auto 0.75rem;
  } 
}

.cta__subheading {
  color: var(--primary-color);
  font-size: 0.8125rem;
  line-height: 1.8;
  margin: auto;
  width: 11.25rem;

  @media (min-width: 33.75rem) {
    font-size: 0.9375rem;
    line-height: 1.3;
    width: 24.6875rem;
  } 
}
