// ___________________________________________________________________
// Range Styles
// ___________________________________________________________________

.range-wrapper {
  padding-inline: 1.5rem;
}

.js-price-range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;

  // Chrome, Edge, Safari Slider Track
  &::-webkit-slider-runnable-track {
    background: var(--bg-slider-empty);
    border-radius: 5px;
    height: 0.5rem;
  }

  // Firefox Slider Track
  &::-moz-range-track {
    background: var(--bg-slider-empty);
    border-radius: 5px;
    height: 0.5rem;
  }

  // Chrome, Edge, Safari Slider Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-slider-thumb);
    background-image: url(images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    cursor: grabbing;
    height: 2.5rem;
    margin-top: -1rem;
    width: 2.5rem;
  }

  // Firefox Slider Thumb
  &::-moz-range-thumb {
    background-color: var(--bg-slider-thumb);
    background-image: url(images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    cursor: grabbing;
    height: 2.5rem;
    margin-top: -1rem;
    width: 2.5rem;
  }

  &:focus {
    outline: none;
  }
  // Chrome, Edge, Safari 
  &:focus::-webkit-slider-thumb {
    outline: 2px auto -webkit-focus-ring-color;
  }
  // Firefox
  &:focus::-moz-range-thumb {
    outline: 2px auto Highlight;
  }
}
