// ___________________________________________________________________
// Range Styles
// ___________________________________________________________________

.range-group {
  display: grid;
  grid-template-areas: 
    "pageviews"
    "range"
    "price";

  @media (min-width: 33.75rem) {
    grid-template-areas: 
      "pageviews price"
      "range range";
    align-items: center;
    justify-items: center;
    padding-inline: 3rem; 
  } 
}

.range-wrapper {
  grid-area: range;
  margin-bottom: 2.5rem;
  padding-inline: 1.5rem;
  width: 100%;

  @media (min-width: 33.75rem) {
    margin-bottom: 3.5rem;
    padding-inline: 0;
    padding-top: 1.5rem;
  }
}

.js-price-range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  height: 0.5rem;
  width: 100%;

  // Chrome, Edge, Safari Slider Track
  &::-webkit-slider-runnable-track {
    background: transparent;
    border-radius: 5px;
    height: 0.5rem;
  }

  // Firefox Slider Track
  &::-moz-range-track {
    background: transparent;
    border-radius: 5px;
    height: 0.5rem;
  }

  // Chrome, Edge, Safari Slider Thumb
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bg-slider-thumb);
    background-image: url(images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    height: 2.5rem;
    margin-top: -1rem;
    width: 2.5rem;
  }

  // Firefox Slider Thumb
  &::-moz-range-thumb {
    background-color: var(--bg-slider-thumb);
    background-image: url(images/icon-slider.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
    height: 2.5rem;
    margin-top: -1rem;
    width: 2.5rem;
  }

  &:focus {
    outline: none;
  }

  &:active {
    cursor: grabbing;
  }

  // Chrome, Edge, Safari 
  &:focus::-webkit-slider-thumb {
    outline: 2px auto -webkit-focus-ring-color;
  }

  &:hover::-webkit-slider-thumb {
    background-color: var(--bg-hover);
  }

  &:active::-webkit-slider-thumb {
    background-color: var(--bg-slider-thumb-focus);
  }

  // Firefox
  &:focus::-moz-range-thumb {
    outline: 2px auto Highlight;
  }

  &:hover::-moz-range-thumb {
    background-color: var(--bg-hover);
  }

  &:active::-moz-range-thumb {
    background-color: var(--bg-slider-thumb-focus);
  }
}
