// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

:root {
  // Colors
  --bg-main: hsl(222 87% 97%);
  --bg-discount: hsl(14 92% 95%);
  --bg-slider-empty: hsl(224 65% 95%);
  --bg-slider-full: hsl(174 77% 80%);
  --bg-toggle: hsl(223 50% 87%);
  --primary-color: hsl(225 20% 60%);
  --secondary-color: hsl(227 35% 25%);
  --tertiary-color: hsl(0 0% 100%);
  --accent-color: hsl(174 86% 45%);
  --text-button: hsl(226 100% 87%);
  --text-discount: hsl(15 100% 70%);
  // Text
  --font-weight--bold: 800;
  --font-weight--regular: 600;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--tertiary-color);
  font-family: 'Manrope', sans-serif;
  font-weight: var(--font-weight--regular);
  min-height: 100vh;
  position: relative;

  &::before {
    background-image: url('images/bg-pattern.svg');
    content: '';
    height: 25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
}

fieldset {
  border: none;
}

// Screen reader styles
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
